body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
  
#game-container {
    text-align: center;
    padding: 20px;
}
  
h1 {
    color: #333;
}
  
#board {
    width: 400px;
    height: 400px;
    background-color: #ddd;
    margin: 20px auto;
    border-collapse: collapse; /* Para colapsar los bordes de las celdas */
}
  
#board td {
    width: 30px; /* Ancho de las celdas */
    height: 30px; /* Alto de las celdas */
    border: 1px solid #000; /* Borde de las celdas */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #0056b3;
}
  